<%- include('./header'); -%>
  <div class="container-fluid text-center">
  <h1 class="display-3">Reporte VRT para RedReader</h1>
    <div><br></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Funcionalidad</th>
          <th scope="col">Imagen APK limpia</th>
          <th scope="col">Imagen APK modificada</th>
          <th scope="col">Diferencias</th>
          <th scope="col">Información Importante</th>
        </tr>
      </thead>
      <tbody>
        <%reportes.forEach((reporte)=>{ %>
        <tr>
          <td><%= reporte.funcionalidad %></td>
          <td><img src=<%= reporte.folder%>limpia.png class="img-fluid" alt="Responsive image"></td>
          <td><img src=<%= reporte.folder%>modificada.png class="img-fluid" alt="Responsive image"></td>
          <td><img src=<%= reporte.folder%>diff.png class="img-fluid" alt="Responsive image"></td>
          <td><%= reporte.info_importante %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  </div>

<%- include('./footer'); -%>